In [1]:
import pandas as pd
import sqlite3

In [2]:
# Connect to the database
conn = sqlite3.connect('books.db')

In [3]:
# A) 
# Query the authors table and retrieve the last names
query = "SELECT last FROM authors ORDER BY last DESC"
authors_df = pd.read_sql_query(query, conn)
last_names = authors_df['last']

print(last_names)

0      Wald
1     Quirk
2    Deitel
3    Deitel
4    Deitel
Name: last, dtype: object

In [4]:
# B)
# Query the titles table and retrieve the titles
query = "SELECT title FROM titles ORDER BY title ASC"
titles_df = pd.read_sql_query(query, conn)
book_titles = titles_df['title']

print(book_titles)

0           Android 6 for Programmers
1              Android How to Program
2                    C How to Program
3                  C++ How to Program
4       Internet & WWW How to Program
5       Intro to Python for CS and DS
6                 Java How to Program
7    Visual Basic 2012 How to Program
8            Visual C# How to Program
9           Visual C++ How to Program
Name: title, dtype: object

In [5]:
# C)
# Select author by last name 
author_last_name = "Quirk"

# Query using INNER JOIN to retrieve the books for the specific author
query = """
SELECT titles.title, titles.copyright, author_ISBN.isbn
FROM titles
INNER JOIN author_ISBN ON titles.isbn = author_ISBN.isbn
INNER JOIN authors ON author_ISBN.id = authors.id
WHERE authors.last = ?
ORDER BY titles.title ASC
"""

# Execute the query with the specified parameter
books_df = pd.read_sql_query(query, conn, params=[author_last_name])

print(books_df)

                       title copyright        isbn
0  Visual C++ How to Program      2008  0136151574

In [6]:
# D)
# Insert a new author
new_author = pd.DataFrame({'first': ['Felled'], 'last': ['Forest']})
new_author.to_sql('authors', conn, if_exists='append', index=False)

1

In [7]:
# E)
# Retrieve the author ID for the "Felled Forest" author
author_id = pd.read_sql_query("SELECT id FROM authors WHERE last='Forest'", conn)['id'][0]

# Generate a unique ISBN for the new book
new_isbn = '1234567890'

# Insert the new book's details into the author_ISBN table
new_author_isbn = pd.DataFrame({'id': [author_id], 'isbn': [new_isbn]})
new_author_isbn.to_sql('author_ISBN', conn, if_exists='append', index=False)

# Insert the new book's details into the titles table
new_title = pd.DataFrame({'isbn': [new_isbn], 'title': ['New Book: Passing This Class'], 'edition': [99], 'copyright': ['2077']})
new_title.to_sql('titles', conn, if_exists='append', index=False)

1

In [8]:
# Select author by last name 
author_last_name = "Forest"

# Query using INNER JOIN to retrieve the books for the specific author
query = """
SELECT titles.title, titles.copyright, author_ISBN.isbn, authors.first, authors.last
FROM titles
INNER JOIN author_ISBN ON titles.isbn = author_ISBN.isbn
INNER JOIN authors ON author_ISBN.id = authors.id
WHERE authors.last = ?
"""

# Execute the query with the specified parameter
books_df = pd.read_sql_query(query, conn, params=[author_last_name])

print(books_df)

                          title copyright        isbn   first    last
0  New Book: Passing This Class      2077  1234567890  Felled  Forest